#sun,
#sun-inner,
#sun-outer {
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: pulse 2.5s ease-in-out infinite;
  animation: pulse 2.5s ease-in-out infinite;
}
#sun {
  fill: #ffebca;
}
#sun-inner {
  fill: rgba(255, 235, 202, 0.5);
}
#sun-outer {
  fill: rgba(255, 235, 202, 0.25);
}
#sun-inner,
#sun-outer {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

#error-message #lighthouse{
  margin: 0 -210px;
}

@media (min-width: 768px) {
  #lighthouse {
    margin: 0 -210px;
  }
}

